#wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em;
}

#hero img {
    height: 15em;
    width: auto;
}

#hero p {
    font-size: 1.3em;
    font-weight: 400;
    margin-left: 3em;
    width: 35%;
}

#func {
    padding-bottom: 4em;
    text-align: center;
}

#func h2 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

#func p {
    font-weight: 400;
    font-size: 1.2em;
    margin: 0.5em;
    transition: 0.3s;
}

#func p:hover {
    font-weight: 600;
}
